@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <br />
    <h1 class="display-4">IVISA-Rio</h1>
    <br />
    <h1 class="display-4">Sistema de Indicadores</h1>
    <br />
    <p><b>Sistema de Indicadores para as áreas de coordenação do IVisa-Rio.</b></p>
    <p>Versão Beta.</p>
</div>
<div class="loader"></div>